.root-container {
  background-color: rgb(1, 36, 68);
  padding-top: 2%;
  margin-top: 15%;
  display: inline-block;
  width: 30%;
  height: 50%;
  margin-left: 35%;
  justify-self: center;
  border-radius: 20px;
  justify-content: center;
  filter: drop-shadow(3px 2px 5px #4fcaffa9);
}
 
.hero-text {
  margin-top: 1%;
  margin-bottom: 4%;
  color: #ebf9fff5;
  padding: 0;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.login-button {
  background-color: #4fcaff1f;
  border-color: #4fcaffa9;
  transition-duration: 0.3s;
  color: #ebf9fff5;
  width: 30%;
  margin-left: 35%;
  padding: 8px;
  size: 24pt;
  border-radius: 4px;
  margin-bottom: 2%;
}

.login-button:hover {
  background-color: #4fcaffa9; /* Green */
  color: rgb(2, 46, 59);
}

.last-button {
  margin-bottom: 5%;
}