.root-container {
  background-color: #231238;
  padding-top: 2%;
  margin-top: 13%;
  display: inline-block;
  width: 30%;
  height: 25%;
  margin-left: 35%;
  justify-self: center;
  border-radius: 20px;
  justify-content: center;
  filter: drop-shadow(3px 2px 5px #874fffa9);
}
 
.hero-text {
  margin-top: 1%;
  margin-bottom: 4%;
  color: #ece3ff;
  padding: 0;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.login-button {
  background-color: #4fcaff1f;
  border-color: #874fffa9;
  transition-duration: 0.3s;
  color: #ece3ff;
  width: 30%;
  margin-left: 35%;
  padding: 8px;
  size: 24pt;
  border-radius: 4px;
  margin-bottom: 2%;
  font-family: "Funnel Display", sans-serif;
}

.login-button:hover {
  background-color: #874fffa9; /* Green */
}

.last-button {
  margin-bottom: 5%;
}